dj_database_url==2.0.0
Django==4.2
Requests==2.31.0
steamid_converter==1.0.1
gunicorn==20.1.0
psycopg2-binary==2.9.3
wheel==0.37.1
whitenoise==6.0.0
django-mathfilters==1.0.0
django-tables2==2.5.3
httplib2==0.14.0
numpy==1.17.4
oauthlib==3.1.0