{% load static %}
{% load mathfilters %}
{% load custom_filters %}

<link rel="stylesheet" href="{% static 'leaderboards/style.css' %}">
<span>
    
    <h1 class="player-title"> {{ player }}'s Stats
        {% for c, t in main %}
            <button class="classbutton {{c}}icon player-class-icon"></button>
        {% endfor %}
        <button class="divbutton right i-fucking-hate-css" ><a class="topref" href="/lookup/">Player Search</a></button>
    </h1>
</span>
 

{% if stats %}

    {% for season, season_stats in stats.items %}

        <button class="table-title-text tablebutton" id="{{season}}" onclick="toggleTable(id)">{{convert|get_item:season}}</button>
        <table id="{{season}}-table" class="table-row-text" style="display: None">
            <th>Team</th>
            <th>Map</th>
            {% for header in headers %}
                <th>{{ header }}</th>
            {% endfor %}
            {% for stat in season_stats %}
                <tr> 
                    <td>{{stat|get_item:'team_id'}}</td>
                    <td>{{stat|get_item:'map'}}</td>
                    {% for key, value in stat|get_items_item:'data' %}
                        {%if key == 'total_time' %}
                            <td>{{value|format_time}}</td>
                        {% else %}
                            <td>{{value}}</td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% empty %}
                <div class="centered table-row-text">0 Games Played </div>
            {% endfor %}
        </table>

    {% endfor %} 
    <h2 class="table-title-text">Season Total</h2>
    <table class="table-row-text">
        <th>Season</th>
        <th>GP</th>
        {% for k in headers %}
            {% if k not in exclude %}
                <th>{{k|format_header}}</th>
            {% endif %}
        {% endfor %}
        {% for se, s in seasons.items %}
            <tr> 
                <td> {{convert|get_item:se}}</td>
                <td> {{s|get_item:'games_played'}}</td>
                {% for k, v in s.items %}
                    {% if k not in exclude %}
                        {% if k == 'total_time' %}
                            <td>{{v|format_time}}</td>
                        {% else %}
                            <td>{{v}}</td>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
    
   
{% else %}
    <p>No Stats for this Player.</p>
{% endif %}

<script>
    function toggleTable(season){
        table = season + "-table"
        document.getElementById(table).style.display = document.getElementById(table).style.display ? "" : "none"
    }
    function showFirst(season, max){
        console.log(season == max ? "nay" : "None")
        return season == max ? "display: '';" : "display: 'None';"
    }
</script>

<h3 class="table-title-text">Missing Stats?</h3>
<p class="table-row-text">
    RGL Stat DB is currently still in development! There are many factors that can prevent the stats from a RGL game being tracked.
    Such complications include:
    <ul class="table-row-text">
        <li>Logs.tf being down during the time of the official match date</li>
        <li>Scores being incorrectly entered by Team leaders</li>
        <li>Admins overriding a score to address ambiguities in the score during the match</li>
        <li>Matches being unofficially delayed or played far enough outside of the official match time</li>
    </ul>
</p>
<p class="table-row-text">I have future plans to allow users to request uploading match logs to to help aleviate these issues!</p>